<!-- <h2>Hello from rectangle component</h2> -->
<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="col-6 h-50 rounded">
    <div class="card p-5">
      <div class="mb-3">
        <label for="login" class="form-label">Введите логин</label>
        <input type="text" class="form-control" id="login" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" />
      </div>
      <button class="btn btn-primary mt-3">Войти</button>
    </div>
  </div>
</div>
